*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}


.title{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

.href{
    text-decoration:none;
    color: black; 
}

header .fa-solid{
    padding-left: 1rem;
}

header h1{
    font-family: 'Shrikhand', cursive;
}


.image img{
    max-width: 100%;
}

main{
    top: -2rem;
    margin-bottom: -31px;
    position: relative;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    border-radius: 30px 30px 0px 0px;
}

.restaurant-name-desktop{
    display: none;
}

main h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-family: 'Shrikhand', cursive;
    font-style: oblique;
    margin-bottom: 2rem;
    font-weight: bold;
    font-weight: 700;
}

.food-menu{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.food-menu h3{
    color: #8b8b8b;
    border-bottom: #99e2d0 solid ;
    margin-bottom: 0.5rem;
    font-weight: 500;
    width: 50px;
    padding-bottom: 5px;
    font-weight: 400;
}

.grid{
    display:flex;
    flex-direction: column;
    row-gap: 1rem;
}


.card{
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    box-shadow: 1px 5px  10px rgba(0, 0, 0, 0.10);
    display: flex;
    cursor: pointer;
    column-gap: 5px;
    justify-content: space-between;
    opacity: 0;
    animation: fadin 2000ms cubic-bezier(.5,0,.14,1) forwards;
}


.card:nth-child(1){animation-delay: 1000ms;}
.card:nth-child(2){animation-delay: 1250ms;}
.card:nth-child(3){animation-delay: 1500ms;}
.card:nth-child(4){animation-delay: 1750ms;}


@keyframes fadin{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.text-menu-description{
    padding: 0.7rem; 
    overflow: hidden;
    width: 80%;
}

.titre{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
}

.plat{
    font-weight: 300;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
}

.prix {
    display: flex; 
    align-items: end;
    padding: 0.7rem;
}

.card:hover >.text-menu-description .titre{
    text-overflow: ellipsis;
    overflow: hidden;
}

.card:hover >.text-menu-description .plat{
    text-overflow: ellipsis;
    overflow: hidden;
}

/* animation */
.card>.animation{
    background-color: #99e2d0;
    overflow: hidden;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms linear;
    margin-left: 1rem;
}

.card:hover>.animation{
    width: 3rem;
    margin-left: 0px;
}


/* roatation */
.card>.animation> .fa-solid {
    font-size: 25px;
    color: white;
    animation-name: rotation-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}


.card:hover>.animation> .fa-solid {
    animation-name: rotation-in;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes rotation-in{
    0%{transform: rotate(0deg) ;}
    100%{transform: rotate(-1turn) ;}
}


/* Button */
.button{
    display: flex;
    justify-content: center;
}

button{
    font-size: large;
    width: 200px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 30px;
    color: white;
    border: none;
    box-shadow: -4px 6px  10px rgb(0, 0, 0, 0.20);
    background: linear-gradient(175deg, rgba(233,114,219,1) 35%, rgba(161,91,220,1) 100%); 
}

button:hover{
    opacity: 0.7;
    box-shadow: 0px 6px 9px 0px rgba(0,0,0,.4);
    transition: all 300ms linear;
}


/* footer */
footer{
    background: #353535;
    padding: 2rem;
}

footer h2{
    font-family: 'Shrikhand', cursive;
    padding-bottom: 1rem;
    font-size: 20px;
    color: white;
    /* italic */
}

footer ul{
    list-style: none;
}

footer a{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
    text-decoration: none;
    display:flex;
    column-gap: 15px;
    padding-bottom: 0.4rem;
}

footer .fa-solid{
    color: white;
    width: 18px;
}

/* desktop */
@media screen and (min-width:782px) {
    nav {display: none;}

    .image{ 
        display:none;
        opacity: .2;}


    .menu{
        padding-left:2rem;
        padding-right: 2rem;
        border-radius: 0;
        margin-top: 5rem;
        position: static;
        width: 100%;
    }

    .restaurant-name{
        display:flex;
        align-items: center;
    }

    .grid{
        flex-direction: row;
        justify-content: space-between;
        column-gap: 2rem;
    }

    .card{
        width: 100%;
        height: 100px;
    }

    .titre{
        white-space: nowrap; 
    }

    .plat{
        white-space: nowrap;
        /* white-space: normal; */
    }

    .text-menu-description{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 70%;
    }
    .prix{
        align-items: center;
    }

    .card>.animation> .fa-solid {
        animation-name: rotation-out;
    }
    
    @keyframes rotation-out{
        from{transform: rotate(-1turn) ;}
        to{transform: rotate(0deg) ;}
    }
    

}



/* Tablette */
@media screen and (min-width:650px) and (max-width:781px) {

    /* .block-boutton>button>i{
        display: none;
    }

    .block-boutton>button{
        justify-content: center;
    } */

}