*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}


/* Loading page */
.loader{
    position: fixed;
    inset: 0;
    opacity: 0.99;

    height: 100vh;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    animation: disapper 200ms 2s; 
    animation-fill-mode: forwards;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #9356DC;
    border-top-color: rgba(243, 232, 232, 0.532);
    border-radius: 50%;
    animation: loading .75s ease infinite; 
}


@keyframes loading {
    from{transform: rotate(0turn)}
    to {transform: rotate(1turn)}
}

@keyframes disapper {
    to{
        opacity:0;
        visibility: hidden;
    }
}


/* Main content */
header h1{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Shrikhand', cursive;
}

.location{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: rgba(234,234,234,255);
    box-shadow: inset 1px 5px  10px rgba(0, 0, 0, 0.10);
}

.location p {
    padding-left: 2rem;
    margin: 0;
}
.block-description{
    padding-top: 2rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(247,247,247,255);
}

.block-description >h2{
    padding-bottom: 1rem;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.block-description >p{
    padding-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: 300;
    color: #707070;
    text-align: center;
}
.block-description>form> button{
    border-radius: 25px 25px 25px 25px;
    padding: 1rem 2rem;
    color: white;
    font-weight: 400;
    box-shadow: -4px 6px  10px rgb(0, 0, 0, 0.20);
    background: linear-gradient(175deg, rgba(233,114,219,1) 35%, rgba(161,91,220,1) 100%);
    border: none;
}

.block-description>form> button:hover{
    opacity: 0.86;
    box-shadow: 0px 6px 9px 0px rgba(0,0,0,.4);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/* fonctionnement */
.block-fonctionnement{
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
}

.block-fonctionnement >h2{
    margin-bottom: 1rem;
}

.block-div-bouton{
    margin: 0;
}


.block-boutton{
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
}

.fa-solid.fa-1,
.fa-solid.fa-2,
.fa-solid.fa-3{
    position: absolute;
    top: 50%;
    transform: translate( -50%, -50% );

    background-color: #9356DC;
    border-radius: 50%;
    color: white;
    font-size: 16px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

}

.number-circle{
    position: absolute;
    top: 50%;
    transform: translate( -50%, -50% );

    background: #9356DC;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid  #9356DC;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.block-boutton>button{
    width: inherit;
    padding: 1.8rem 0rem;
    background: rgba(247,247,247,255);
    border-radius: 25px 25px 25px 25px;
    border: none;
    box-shadow: 1px 5px  10px rgba(0, 0, 0, 0.10);
    font-size: 15px;
    font-weight: bold;

    display: flex;
    align-items: center;
}

button:hover{
    background-color: rgb(147, 86, 220, 0.2);
    cursor: pointer;
}

button>i{
    margin-right: 10%;
    color: grey;
    font-size: 1.5rem ;
    margin-left: 15%;
}

button:hover>i{
    color: #9356DC;
} 


.fa-sharp.fa-solid.fa-location-dot{
    margin: 0;
    margin-right: 10px;
}


.block-restaurant{
    background: rgba(247,247,247,255);
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
}

.block-restaurant h2{
    padding-bottom: 2rem;
}


.grid{
    display: flex;
    flex-direction: column;
}
.href{
    text-decoration:none;
    color: black; 
}

.grid-card-restaurants{
    display: flex;
    flex-direction: column;

    margin-bottom: 33px;
    margin-top: auto;

    position: relative;

    border-radius: 20px;
    overflow: hidden;

    box-shadow: -4px 6px  10px rgb(0, 0, 0, 0.20);
    
}


.grid-card-restaurants:hover{
    cursor: pointer;
}

.tag-nouveau{
    color: #169475;
    background-color: rgba(153,226,208,255);
    padding: 3px;
    position: absolute;
    left: 90%;
    top: 5%;
    transform: translate( -50%, -50% );
}

.card-image{
    overflow: hidden;
}
.card-image>img{
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    height: 100%;
}



.container{
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-top: 1em;
    padding-bottom: 1rem;
    padding-right: 1rem;
    background: white;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
}

.container>.fa-regular{
    font-size: 20px;

}
.container>.fa-regular.fa-heart{
    color: black;

}

.container>.fa-regular.fa-heart{
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
    font-size: 20px;
    opacity: 1;
}

.container>.fa.fa-heart{
    display: none;
}

.container:hover>.fa.fa-heart{
    cursor: pointer;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    /* color: #9356DC; */
    font-size: 20px;
    display: block;
    background: linear-gradient(#9356DC, #FF79DA);
    color: transparent;
    background-clip: text;
    animation: smooth 1s ;
    transition: all 100s ease-in;
}

@keyframes smooth {
    from{
        opacity: 0.7;
    }
    
    to{
        opacity:1;
    }
}

.container:hover>.fa-regular.fa-heart{
    display: none;
}


.text{
    margin: 0;
}

.restaurant-title{
    font-weight: bold;
}

footer{
    background: #353535;
    padding-top: 2rem;
    padding-left: 2rem;
    position: absolute;
    left: 0;
    right: 0;
}

footer h2{
    font-family: 'Shrikhand', cursive;
    padding-bottom: 1rem;
    font-size: 20px;
    color: white;
}

footer ul{
    list-style: none;
}

footer a{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
    text-decoration: none;
    display:flex;
    column-gap: 15px;
    margin-bottom: 0.4rem;
}

footer .fa-solid{
    color: white;
    width: 18px;
    margin: 0;
}

/* desktop */
@media screen and (min-width:782px) {

    /* *{
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    } */

    .block-fonctionnement{
        padding-bottom: 1rem;
    }

    .block-div-bouton{
        display: flex;
        flex-direction: row;
        margin: 0;
        column-gap: 4rem;
    }

    .block-boutton>button>i{
        display: none;

    }
    .block-boutton>button{
        justify-content: center;
    }

    .grid {
        column-gap: 1rem;
        margin-left: 25px;
        margin-right: 40px;
        margin-right: 60px;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .tag-nouveau {
        left: 75%;
        top: 5%;
        transform: translate( -50%, -50% );
    }

    .card-image{
        max-width: 300px;
        height: 300px;
    }

}

/* Tablette */
@media screen and (min-width:650px) and (max-width:781px) {

    .block-boutton>button>i{
        display: none;
    }

    .block-boutton>button{
        justify-content: center;
    }

}